# --- JETBRAINS (WebStorm & PyCharm) ---
.idea/
*.iws
*.iml
*.ipr
out/

# --- FRONTEND SPECIFIČNO ---
# Ako ikada budeš koristio npm/node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Build folderi (ako koristiš bundlere)
dist/
build/

# Lokalna podešavanja browsera/editora
.vscode/
.DS_Store
thumbs.db
*.swp

# --- BACKEND SPECIFIČNO ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# Baza podataka (Lokalna)
*.db
*.sqlite3

# Slike korisnika i knjiga (Ne želimo tuđe slike na svom GitHubu)
backend/static/images/*
# Ali želimo sačuvati folder strukturu, pa ostavljamo .gitkeep ako ga imaš
!backend/static/images/.gitkeep